body {
    font-family: "Monstserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a, a:hover {
    text-decoration: none;
}

#topbar {
    background-color: #001975;
    color: #030303;
    height: 50px;
    line-height: 50px;
}

.top-contact, .sosmed {
    list-style: none;
    padding: 0;
}

#topbar li {
    display: inline-block;
}

#topbar li a {
    color: #fff;
    display: inline-block;
    padding: 0 20px;
}

#topbar li a i {
    color: #ffd310;
    margin-right: 5px;
}

#topbar .sosmed li a {
    padding: 0 5px;
}

#topbar .sosmed li a i {
    color: #fff;
}

header {
    padding: 20px 0;
}

.brand {
    display: flex;
}

.brand img {
    margin-right: 20px;
}

.brand .brand-name h1 {
    font-size: 25px;
    color: #001975;
    text-transform: uppercase;
}

.brand .brand-name h3 {
    font-size: 18px;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.pembungkus-searchbox {
    display: flex;
    align-items: center;
}

.searchbox {
    width: 100%;
}

.btn.btn-utama {
    background-color: #001975;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn.btn-utama:hover {
    background-color: #010d3b;
}

/* CSS untuk menu / navbar */

.navbar {
    padding: 0;
    border-bottom: 5px solid #ffd310;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.bg-biru {
    background-color: #001975!important;
    color: #050505;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #ffffff;
}
.dropdown-menu .dropdown-item:hover{
    color: #407500 !important;
    background-color: #ffd310;
}
.dropdown-menu{
    background-color: #001975;
    color: #000 !important;
}

.active {
    background-color: #ffd310;
    color: #000000;
}

li.nav-item.active a{
    color: #000000;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 15px 20px;
    display: inline-block;
}

/* css untuk hero area */

#hero-area {
    position: relative;
    margin: 0;
}

#hero-area-nav .owl-prev,
#hero-area-nav .owl-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: #001975;
    color: #fff;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s;
}

#hero-area-nav .owl-prev {
    left: 0;
    border-radius: 0 50px 50px 0;
}

#hero-area-nav .owl-next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

#hero-area-nav .owl-prev:hover,
#hero-area-nav .owl-next:hover {
    cursor: pointer;
    background-color: #ffd310;
}

#hero-area .hero-area-item img {
    min-height: 500px;
    object-fit: cover;
}

#hero-area .hero-area-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
}

#hero-area .hero-area-content h2 {
    color: #001975;
    font-weight: 500;
}

#hero-area .hero-area-content p {
    font-size: 15px;
    font-family: "Raleway", calibri, sans-serif;
}

#hero-area .hero-area-content p a {
    color: #001975;
    font-weight: 600;
}

#hero-area .hero-area-content p a:hover {
    border-bottom: 1px dashed #ffd310;
}

#hero-area .hero-area-content button {
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: 500;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* css untuk slider hero area */

#hero-area {
    position: relative;
    margin: 0;
}

#slider-hero-nav .owl-prev,
#slider-hero-nav .owl-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: #001975;
    color: #fff;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s;
}

#slider-hero-nav .owl-prev {
    left: 0;
    border-radius: 0 50px 50px 0;
}

#slider-hero-nav .owl-prev:hover,
#slider-hero-nav .owl-next:hover {
    cursor: pointer;
    background-color: #ffd310;
}

#slider-hero-nav .owl-next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

#hero-area .slider-item-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
}

#hero-area .slider-item-content h2 {
    font-size: 35px;
    font-weight: 500;
}

#hero-area .slider-item-content p {
    font-size: 16px;
}


/* css untuk section sambutan */

#sambutan {
    margin: 10px 0;
}

#sambutan h2 {
    color: #001975;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

#sambutan h3 {
    color: #001975;
    font-size: 28px;
    font-weight: 600;
}

#sambutan p {
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-size: 500;
    line-height: 28px;
}

/* css untuk section prestasi */

#prestasi {
    min-height: 250px;
}

#prestasi .col-item-kanan {
    padding: 20px 30px 20px 20px;
}

.section-item {
    margin: 70px 0;
    box-shadow: 0 0 25px #ddd;
    min-height: 260px;
    overflow: hidden;
}

.section-item-thumbnail {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 300px;
    min-height: 100%;
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    color: #001975;
    font-weight: 600;
}

.section-title h2:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #ffd310;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.section-item-title {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 20px;
}

.section-item-title h3 {
    font-size: 20px;
    color: #001975;
    line-height: 25px;
    font-weight: 600;
    padding-right: 40px;
}

.section-item-title span {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}

.section-item-title span i {
    margin-right: 5px;
}

.section-item-title span:first-of-type {
    margin-right: 15px;
}

.section-item-body p {
    font-size: 12px;
    line-height: 25px;
    color: #666;
}

/* css untuk tbl selengkapnya */

section {
    margin: 80px 0;
}

.tombol-selengkapnya {
    text-align: center;
}

.btn.btn-more {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #001975;
    text-align: center;
    display: inline-block;
    border: 2px solid #010d3b;
    border-radius: 0;
    padding: 10px 40px;
}

/* css untuk slider */

.owl-item {
    padding: 20px 10px;
}

.owl-item.active {
    background-color: #fff;
    padding: 0;
}

.section-item-slider {
    height: 380px;
    background-color: #ffffff;
    box-shadow: 0 0 25px #b8b8b8;
    margin: 20px;
    position: relative;
}

#tenaga-pendidik .foto-guru {
    height: 100%;
    object-fit: cover;
}

.section-item-caption {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    color: #000;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 20px 10px 15px;
}

.section-item-caption h5 {
    color: #001975;
    font-size: 18px;
    font-weight: 700;
}

.section-item-caption h6 {
    font-size: 18px;
    color: #ffd310;
    text-transform: uppercase;
}

#tenaga-pendidik .section-body {
    position: relative;
}

#slider-tools-1 .owl-next,
#slider-tools-1 .owl-prev {
    /* position: relative;
    content: "";
    top: 20vh;
    transform: translateX(50%);
    right: -85vh;
    z-index: 20;
    border-color: #002ed6;
    border: none;
    height: 35px;
    width: 35px;
    color: #0008ff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: backgroung-color 0.3s; */
    position: relative;
    right: -51%;
    top: 80vh;
    z-index: 10;
    border: none;
    background-color: #001975;
    color: #fff;
    outline: none;
    /* padding: 3px 3px; */
    font-size: 25px;
    transition: background-color 0.3s;
    border-radius: 90% 90%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: backgroung-color 0.3s;
    height: 50px;
    width: 50px;
}

#slider-tools-1 .owl-prev {
    left: 38%;
}

#slider-tools-1 .owl-next:hover,
#slider-tools-1 .owl-prev:hover {
    cursor: pointer;
    background-color: #ffd310;
    color: #000;
}

#alumni {
    background-color: #001975;
    padding: 80px 0;
    
}

#almni .section-body{
    display: flex;
    flex-wrap: nowrap;
    float: right;
}

#alumni .section-title h2{
    color: #fff;
}

#alumni .section-item-slider {
    background-color: #001975;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

#alumni .section-body{
    display: flex !important;
    flex-wrap: nowrap !important;
}

#alumni .section-item-slider {
    height: 299px;
    padding: 20px;
}

#alumni .section-item-content h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffd310 !important;
}

#alumni .section-item-content p {
    font-size: 14px;
    color: #fff;
    line-height: 26px;
}

#alumni .section-item-content .more {
    color: #ffd310;
}

#ekstrakurikuler {
    background-color: #ddd;
    padding: 80px 0;
}

#ekstrakurikuler .section-body-item {
    display: flex;
    background-color: #001975;
    border-radius: 5px;
    padding: 20px;
    color: #ffd310;
    height: 200px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    /* box-sizing: border-box; */
}

#ekstrakurikuler .section-body-item h4 {
    font-weight: 500;
}

#ekstrakurikuler .section-body .row:first-of-type {
    margin-bottom: 30px;
}

#ekstrakurikuler .row-2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#berita .row {
    margin-bottom: 20px;
}

.section-thumbnail {
    width: 100%;
    height: 237px;
    overflow: hidden;
    position: relative;
}

.section-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-thumbnail .tanggal {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    left: 10px;
    background-color: #001975;
    color: #ffd310;
    padding: 5px 10px;
    border-radius: 5px;
}

.section-thumbnail .tanggal span {
    margin: 0;
    padding: 0;
}

.section-thumbnail .tanggal span.tgl {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -20px;
}

.section-thumbnail .tanggal span.tgl-2 {
    font-size: 10px;
}

#berita .section-content {
    padding: 20px 0 0;
}

#berita .section-content h3 {
    font-size: 16px;
    font-weight: 600;
    color: #001975;
    line-height: 24px;
}

#berita .section-content p {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}

#berita .section-content p .more {
    color: #001975;
    font-weight: 500;
}

.section-meta a {
    background-color: #001975;
    color: #fff;
    padding: 5px 15px;
    font-size: 11px;
    text-transform: uppercase;
}

.section-meta a i {
    margin-right: 5px;
}

#berita .tombol-selengkapnya {
    margin-top: 50px;
}

footer {
    color: #fff;
    background-color: #001975;
    padding: 80px 0 0;
}

footer .footer-col:first-of-type {
    padding-right: 30px;
}

footer .brand {
    display: flex;
}

footer .brand img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

footer .brand h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

footer .sosmed {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .sosmed li {
    display: inline-block;
    margin-right: 15px;
}

footer .sosmed li a {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
}

footer .sosmed li a:hover {
    color: #c7c7c7;
}

.footer-col h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}


.footer-col .alamat {
    font-size: 14px;
    line-height: 25px;
}

.footer-col .kontak {
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}

.footer-col .kontak li {
    margin: 10px 0;
}

.footer-col .kontak i {
    margin-right: 10px;
}

.footer-col .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col .footer-nav li {
    margin: 5px 0;
}

.footer-col .footer-nav a {
    color: #fff;
    font-size: 15px;
    font-weight: 28px;
    transition: all 0.5s;
}

.footer-col .footer-nav a:hover {
    border-bottom: 1px dashed #fff;
}

.footer-copyright .container {
    border-top: 1px solid rgba(242, 242, 242, 0.25);
    padding: 20px 0;
}

.footer-copyright {
    margin-top: 60px;
}